body{
    font-family: sans-serif, monospace;
    background: url(../images/double-bubble-outline.png);
}
h1{
    font-family: 'Ephesis', cursive;
    font-size: 50px;
    color: yellow;
    padding: 5px 0px 8px 0px;
}

#headiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #48B788;
}
.container{
    margin-left: 3%;
    margin-top: 10vh;
}
a{
    text-decoration: none;
    color: rgb(136, 71, 27);
}
a:hover{
    color: #48B788;
}
.imgdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
img{
    height: auto;
    width: 500px;
    /* margin: auto; */
    border-radius: 20px;
    border-width: 5px;
    box-shadow: 5px 2px 8px grey;
}

.main{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}


.ingredients .steps .desc{
    
}